@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(135deg, #2b014e, #7a3bba); */
  /* background: linear-gradient(135deg, #1e0030, #4a0066); */
  background: linear-gradient(60deg, #834caf, #4d1b69, #dfbbf2);
background-repeat: no-repeat;
height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
